<f:be.container
	loadExtJsTheme="0"
	loadJQuery="1"
	includeCssFiles="{
		1: '{f:uri.resource(path:\'Css/Developerlog62.css\')}'
	}"
>
	<div class="typo3-fullDoc tx-dmdeveloperlog">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h1><f:render section="headline" /></h1>
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
