{namespace devlog=DieMedialen\DmDeveloperlog\ViewHelpers}
<f:layout name="Backend/62/Default" />

<f:section name="headline">
	Developer log
</f:section>

<f:section name="content">

	<f:flashMessages renderMode="div" />
	<div class="pull-right">
		<a href="{f:uri.action(action:'flush')}" class="t3-button">{f:translate(key:'flush.action.title')}</a>
	</div>
	<div>
	<f:form action="index" object="{constraint}" name="constraint" class="form-inline">
			<label for="searchword"><f:translate key="search.searchword" /></label>
			<f:form.textfield property="search" class="form-control input-sm" placeholder="message" />
			<label for="severity"><f:translate key="search.severity">Severity</f:translate></label>
			<f:form.select property="severity" options="{severity-options}" class="form-control input-sm" />
			<label for="extkey"><f:translate key="search.extkey">Key</f:translate></label>
			<f:form.select property="extkey" options="{extkey-options}" class="form-control input-sm" prependOptionLabel="{f:translate(key:'form.options.extkey.all')}" prependOptionValue="" />
		<f:form.submit class="btn btn-default btn-sm" value="{f:translate(key:'form.submit.search')}" /> 
	</f:form>
	</div>
	<p class="clearfix">&nbsp;</p>
	
	<f:if condition="{logEntries->f:count()}">
		<f:then>
		<f:if condition="{logEntries->f:count()} >= {settings.list.paginate.itemsPerPage}">
			<f:then>
				<f:widget.paginate objects="{logEntries}" as="paginatedLogEntries" configuration="{itemsPerPage:settings.list.paginate.itemsPerPage,addQueryStringMethod:'POST,GET',maximumNumberOfLinks:settings.list.paginate.maximumNumberOfLinks}">
					<f:render partial="62/Table" arguments="{_all}" />
				</f:widget.paginate>
			</f:then>
			<f:else>
				<f:alias map="{paginatedLogEntries: logEntries}">
					<f:render partial="62/Table" arguments="{_all}" />
				</f:alias>
			</f:else>
		</f:if>
		</f:then>
		<f:else>
		<f:translate key="module.noLogEntries" />
	</f:else>
	</f:if>
	
	<script>
	var dataContainerLabel = jQuery('.data-container label').click(function() {
		var $thisElement = jQuery(this);
		var $parent = $thisElement.closest('.data-container');
		$parent.toggleClass('showData');
	});
	</script>
</f:section>