{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace devlog=DieMedialen\DmDeveloperlog\ViewHelpers}
{namespace devlog=DieMedialen\DmDeveloperlog\ViewHelpers\TYPO3Fluid}
<dl>
	<dt><f:translate key="module.list.key" /></dt>
	<dd>{logEntry.extkey}</dd>

	<dt><f:translate key="module.list.requestType" /></dt>
	<dd><f:for each="{devlog:bitMask(value:logEntry.requestType)}" as="requestType">
		<f:translate key="module.list.requestType.{requestType}" />
	</f:for><dd>

	<dt><f:translate key="module.list.page" /></dt>
	<dd>{logEntry.pid}</dd>
	
	<f:if condition="{logEntry.workspaceUid}">
	<dt><f:translate key="module.list.workspaceUid" /></dt>
	<dt>{logEntry.workspaceUid}</dt>
	</f:if>
	
	<f:if condition="{devlog:username(uid: logEntry.beUser)}">
	<dt><f:translate key="module.list.beUser" /></dt>
	<dd>
		<be:avatar backendUser="{logEntry.beUser}" showIcon="true" />
		<devlog:username uid="{logEntry.beUser}" />
	</dd>
	</f:if>

	<f:if condition="{devlog:username(uid: logEntry.feUser, backend: 0)}">
	<dd><f:translate key="module.list.feUser" /></dd>
	<dt><devlog:username uid="{logEntry.feUser}" backend="0" /></dt>
	</f:if>
</dl>