{namespace be=TYPO3\CMS\Backend\ViewHelpers}
<table id="dm-developerlog-list" class="table table-responsive table-hover">
	<thead>
		<tr>
			<th></th>
			<th><f:translate key="module.list.crdate" /></th>
			<th><f:translate key="module.list.request_id" /></th>
			<th class="hidden-sm hidden-xs"><f:translate key="module.list.location" />:<f:translate key="module.list.line" /></th>
			<th><f:translate key="module.list.message" /></th>
			<th class="hidden-md hidden-lg"></th>
		</tr>
	</thead>
	<tbody>
		<f:for each="{paginatedLogEntries}" as="logEntry">
		<tr class="{f:render(partial:'MapToHelperClass', arguments:'{logEntry:logEntry}')}" data-toggle="collapse" data-target="#collapsed-{logEntry.uid}" title="{f:translate(key:'module.list.clickToToggle')}">
			<td><f:render partial="SeverityIcon" arguments="{_all}" /></td>
			<td><f:format.date format="%x %X">{logEntry.crdate}</f:format.date></td>
			<td><code>{logEntry.requestId}</code></td>
			<td class="hidden-sm hidden-xs location">
				<f:if condition="{logEntry.location}">
					<f:if condition="{logEntry.systemLogEntry}">
						<f:then><span class="label label-default-original">SYS</span></f:then>
						<f:else><span class="label label-success">EXT</span></f:else>
					</f:if>
					<code>{logEntry.location}:{logEntry.line}</code>
				</f:if>
			</td>
			<td width="50%">{logEntry.message}</td>
			<th class="hidden-md hidden-lg"></th>
		</tr>
		<tr class="{f:render(partial:'MapToHelperClass', arguments:'{logEntry:logEntry}')}">
			<td class="zeroPadding" colspan="5"><div class="collapse" id="collapsed-{logEntry.uid}">
				<div class="container-fluid">
					
					<div class="row hidden-md hidden-lg">
						<f:if condition="{logEntry.location}">
						<div class="col-sm-12 col-xs-12">
							<label><f:translate key="module.list.location" />:<f:translate key="module.list.line" /></label> {logEntry.location}:{logEntry.line}
						</div>
						</f:if>
					</div>
					<div class="row">
						<div class="col-xlg-3 col-md-4 col-sm-12">
							<f:render partial="Properties" arguments="{logEntry:logEntry}" />
						</div>
						<f:if condition="{logEntry.dataVar}">
						<div class="col-xlg-9 col-md-8 col-sm-12">
							<div class="data-container">
								<label><f:translate key="module.list.data" /></label> <pre>{logEntry.dataVar}</pre>
							</div>
						</div>
						</f:if>
					</div>
				</div>
			</div></td>
		</tr>
		</f:for>
	</tbody>
	</table>