<f:if condition="{logEntry.severity} == '-1'">
	<f:be.buttons.icon icon="status-dialog-ok" />
</f:if>
<f:if condition="{logEntry.severity} == '0'">
	<f:be.buttons.icon icon="status-dialog-information" />
</f:if>
<f:if condition="{logEntry.severity} == '1'">
	<f:be.buttons.icon icon="status-dialog-notification" />
</f:if>
<f:if condition="{logEntry.severity} == '2'">
	<f:be.buttons.icon icon="status-dialog-warning" />
</f:if>
<f:if condition="{logEntry.severity} == '3'">
	<f:be.buttons.icon icon="status-dialog-error" />
</f:if>