{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace devlog=DieMedialen\DmDeveloperlog\ViewHelpers}
<table id="dm-developerlog-list-62" class="table table-hover t3-table">
	<thead>
		<tr class="t3-row-header">
			<th>&nbsp;</th>
			<th><f:translate key="module.list.crdate" /></th>
			<th><f:translate key="module.list.request_id" /></th>
			<th colspan="2"><f:translate key="module.list.location" />:<f:translate key="module.list.line" /></th>
			<th><f:translate key="module.list.message" /></th>
		</tr>
	</thead>
	<tbody>
		<f:for each="{paginatedLogEntries}" as="logEntry">
		<tr class="{logEntry.severity -> devlog:mapToHelperClass()}" title="{f:translate(key:'module.list.clickToToggle')}">
			<td><f:render partial="62/SeverityIcon" arguments="{_all}" /></td>
			<td><f:format.date format="%x %X">{logEntry.crdate}</f:format.date></td>
			<td><code>{logEntry.requestId}</code></td>
			<td colspan="2">
				<f:if condition="{logEntry.location} <>''">
					<f:if condition="{logEntry.systemLogEntry}">
						<f:then><span class="badge system">SYS</span></f:then>
						<f:else><span class="badge ext">EXT</span></f:else>
					</f:if>
					<code>{logEntry.location}:{logEntry.line}</code>
				</f:if>
			</td>
			<td>{logEntry.message}</td>
		</tr>
		<tr class="{logEntry.severity -> devlog:mapToHelperClass()}">
			<td>&nbsp;</td>
			<td colspan="3">
				<f:render partial="62/Properties" arguments="{logEntry:logEntry}" />
			</td>
			<td colspan="2">
				<f:if condition="{logEntry.dataVar}">
				<div class="data-container">
					<label><f:translate key="module.list.data" /></label>
					<pre>{logEntry.dataVar}</pre>
				</div>
				</f:if>
			</td>
		</tr>
		</f:for>
	</tbody>
</table>