.zeroPadding {
	padding: 0 !important;
}
tr[data-toggle~=collapse]:hover {
	cursor: pointer;
}
ul.f3-widget-paginator {
	margin:0;padding:0;
}
ul.f3-widget-paginator li {
	list-style:none;
	display:inline-block;
	border: 1px solid #bbbbbb;
	padding:0.5em;
	border-radius: 2px;
}
ul.f3-widget-paginator li.current {
	background-color:#eeeeee;
}
.pull-right {
	float:right;
}
.data-container label {
	cursor: pointer;
}
.data-container pre {
	display:none;
}
.data-container.showData pre {
	display:block;
}
.data-container label::after {
	content: " +";
}
.data-container.showData label::after {
	content: " -";
}
#dm-developerlog-list-62 span.badge {
	display:inline-block;
	padding:1px 3px;
	border-radius:2px;
	color:white;
	font-size:10px;
}
#dm-developerlog-list-62 span.badge.system {
	background-color: #777;
}
#dm-developerlog-list-62 span.badge.ext {
	background-color: #79a548;
}
#dm-developerlog-list-62 td dt,
#dm-developerlog-list-62 td dd {
	float:left;
	margin-bottom:0.5em;
}
#dm-developerlog-list-62 td dt {
	clear:both;
	width:130px;
	font-weight:bold;
}
#dm-developerlog-list-62 td dd {
	margin-left:20px;
}
#dm-developerlog-list-62 tr.data {
    display:none;
}
#dm-developerlog-list-62 tr.data.showData {
    display:table-row;
}
pre {
	background-color:white;
	padding:1em;
}